In [3]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [5]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [6]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
print({high_school_types})

TypeError: unhashable type: 'list'

In [9]:
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [10]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
import pandas as pd

In [12]:
#create a Panda Series from a list
school_series=pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [13]:
print(schools)

NameError: name 'schools' is not defined

In [14]:
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [15]:
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [16]:
pip install pandas

Requirement already satisfied: pandas in /Users/patrickslademahoney/opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/patrickslademahoney/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /Users/patrickslademahoney/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/patrickslademahoney/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/patrickslademahoney/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [18]:
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [21]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()
schools_df

Empty DataFrame
Columns: []
Index: []

In [22]:
#Add list to new DataFrame
schools_df("School ID")= school_id

#PRint the DataFrame. 
schools_df

SyntaxError: can't assign to function call (<ipython-input-22-be24bb3988b9>, line 2)

In [23]:
schools_df["School ID"]= school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [24]:
schools_df["School Name"]= school_name
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [25]:
schools_df["type"]=type_of_school
schools_df

   School ID            School Name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
schools_df= pd.DataFrame("High_School_Dict")
schools_df

ValueError: DataFrame constructor not properly called!

In [27]:
pd.DataFrame(high_school_dicts)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
schools_df.columns

Index(['School ID', 'School Name', 'type'], dtype='object')

In [30]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)